<div class="side-button">
  <button
    type="button"
    color="primary"
    mat-mini-fab
    style="border-radius: 0%"
    (click)="switchView()"
  >
    <mat-icon>sync</mat-icon>
  </button>
</div>

<form *ngIf="boonValues && showDistribution" class="d-flex flex-column">
  <h2>Boon Distribution</h2>

  <mat-error *ngIf="boonValues.amount < 0">
    Amount of boons must be positive
  </mat-error>
  <mat-form-field
    matTooltip="The number of boons that will be distributed in your city. Leave at 0 or emtpy for automatic calculation (x1.3 the amount of NPC Kindred)"
  >
    <mat-label>Number of Boons</mat-label>

    <input
      type="number"
      [name]="'amount'"
      [value]="boonValues.amount"
      [(ngModel)]="boonValues.amount"
      matInput
      placeholder="Ex. double your city population"
    />
  </mat-form-field>
  <mat-card class="card">
    <mat-card-content class="d-flex flex-column">
      <mat-label class="mat-label"
        >Trivial Boons {{ boonValues.trivial }}%</mat-label
      >
      <mat-slider color="accent" discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonValues.trivial"
          [value]="boonValues.trivial"
          [name]="'trivial'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Minor Boons {{ boonValues.minor }}%</mat-label>
      <mat-slider color="accent" discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonValues.minor"
          [value]="boonValues.minor"
          [name]="'minor'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Moderate Boons {{ boonValues.moderate }}%</mat-label>
      <mat-slider color="accent" discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonValues.moderate"
          [value]="boonValues.moderate"
          [name]="'moderate'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Major Boons {{ boonValues.major }}%</mat-label>
      <mat-slider color="accent" discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonValues.major"
          [value]="boonValues.major"
          [name]="'major'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Life Boons {{ boonValues.life }}%</mat-label>
      <mat-slider color="accent" discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonValues.life"
          [value]="boonValues.life"
          [name]="'life'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>
    <mat-error *ngIf="error">Sum of Percentages can't exceed 100%</mat-error>
  </mat-card>

  <span class="d-flex justify-content-between w-100 settings-buttons">
    <mat-checkbox color="accent" [name]="'step'" [(ngModel)]="step"
      >5% Step</mat-checkbox
    >
    <button color="accent" mat-mini-fab (click)="resetWeights()">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </span>
</form>

<form *ngIf="connectionValues && !showDistribution" class="d-flex flex-column">
  <h2>Connection Weights</h2>

  <mat-card class="card">
    <mat-card-content
      *ngFor="let connection of connectionValues | keyvalue"
      class="d-flex flex-column"
    >
      <mat-label>{{ connection.key }}</mat-label>
      <mat-slider
        color="accent"
        discrete
        [step]="step ? 5 : 1"
        min="-50"
        max="50"
        [displayWith]="formatLabel"
      >
        <input
          matSliderThumb
          [(ngModel)]="connection.value"
          [value]="connection.value"
          [name]="connection.key"
          (valueChange)="onChanges(connection.key, connection.value)"
        />
      </mat-slider>
    </mat-card-content>
    <mat-card-content
      class="d-flex justify-content-between w-100 settings-buttons"
    >
      <mat-form-field>
        <mat-label>New Connection Label</mat-label>
        <input
          matInput
          [(ngModel)]="newConnection"
          [value]="newConnection"
          [name]="'newConnection'"
          placeholder="New Connection"
        />
      </mat-form-field>
      <button
        class="mt-2"
        color="accent"
        mat-mini-fab
        (click)="addConnection()"
      >
        <mat-icon>control_point</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <span class="d-flex justify-content-between w-100 settings-buttons">
    <mat-checkbox color="accent" [name]="'step'" [(ngModel)]="step"
      >5% Step</mat-checkbox
    >
    <button color="accent" mat-mini-fab (click)="resetWeights()">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </span>
</form>
