<form class="d-flex flex-column">
  <mat-form-field
    matTooltip="The number of boons that will be distributed in your city."
  >
    <mat-label>Number of Boons</mat-label>
    <input
      type="number"
      [name]="'amount'"
      [value]="boonsValues.amount"
      [(ngModel)]="boonsValues.amount"
      matInput
      placeholder="Ex. double your city population"
    />
  </mat-form-field>
  <mat-card class="card">
    <mat-card-content class="d-flex flex-column">
      <mat-label>Trivial Boons {{ boonsValues.trivial }}%</mat-label>
      <mat-slider discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonsValues.trivial"
          [value]="boonsValues.trivial"
          [name]="'trivial'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Minor Boons {{ boonsValues.minor }}%</mat-label>
      <mat-slider discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonsValues.minor"
          [value]="boonsValues.minor"
          [name]="'minor'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Moderate Boons {{ boonsValues.moderate }}%</mat-label>
      <mat-slider discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonsValues.moderate"
          [value]="boonsValues.moderate"
          [name]="'moderate'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Major Boons {{ boonsValues.major }}%</mat-label>
      <mat-slider discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonsValues.major"
          [value]="boonsValues.major"
          [name]="'major'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>

    <mat-card-content class="d-flex flex-column">
      <mat-label>Life Boons {{ boonsValues.life }}%</mat-label>
      <mat-slider discrete [step]="stepValue">
        <input
          matSliderThumb
          [(ngModel)]="boonsValues.life"
          [value]="boonsValues.life"
          [name]="'life'"
          (valueChange)="onChanges()"
        />
      </mat-slider>
    </mat-card-content>
    <mat-error *ngIf="error">Sum of Percentages can't exceed 100%</mat-error>
  </mat-card>

  <mat-checkbox [name]="'step'" [(ngModel)]="step">Step</mat-checkbox>
</form>
