.content-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.upload-button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.side-button {
  float: left;
}

.sidenav {
  padding: 20px;
}

.file-send {
  padding-top: 20px;
}
