<mat-drawer-container class="content-container" autosize>
  <div class="side-button">
    <button
      type="button"
      color="primary"
      mat-mini-fab
      style="border-radius: 0%"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span class="upload-button">
    <input
      type="file"
      class="file-input d-none"
      (change)="onFileSelected($event)"
      #fileUpload
      requiredFileType="image/png"
    />

    <div class="file-upload">
      {{ fileName || "No file uploaded yet." }}

      <button mat-mini-fab color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <div class="file-send">
      {{ getSend ? "Redestribute" : "Distribute" }}

      <button mat-mini-fab color="primary" (click)="onSend()">
        <mat-icon *ngIf="!getSend">check</mat-icon>
        <mat-icon *ngIf="getSend">restart_alt</mat-icon>
      </button>
    </div>
  </span>

  <mat-drawer #drawer class="sidenav" mode="side">
    <app-marginal-settings
      [boonValues]="boonWeights"
      (boonWeights)="changeValue($event)"
    ></app-marginal-settings>
  </mat-drawer>
</mat-drawer-container>
